#results {
  background-color: #ead9c4;
}

#city-result {
  padding: 20px;
}
h2 {
  font-size: large;
}
#map {
  margin-left: 20px;
  width: 30%;
}
#weather p {
  margin-bottom: 0px;
}
#weather {
  margin-left: 20px;

  margin-bottom: 40px;
}
#weather-map {
  display: flex;
  flex-wrap: wrap;
}
#movies {
  margin-left: 20px;
}
